<table class="table">
    <thead>
        <tr>
            <th scope="1">NO.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address}}</td>
        </tr>
    </tbody>
</table>